header {
	height: 56px;
	width: auto;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 56px; 
	background-color: blue;
	text-align: center;
	margin: 20px;
	padding: 20px;
}


body {
	width: 960px;
	background: white;
	line-height: 180%;
	margin: 0;
    padding: 0;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

h1{
	text-align: center;
	
}

#main-bio{
	float: left;
}

#contact-info{
	float: left;
}

.me{
	text-align: right;
	width: 440px;
	border: 25px;
	padding: 5px;
	margin: 25px;
}



.header {
	font-size: 30px;
	font-style: italic;
}

.header>strong {
	font-size: 35px;
}

footer{
	clear: both;
	padding: 20px;
	background-color: blue;
	text-align: center;
}
